@import "mixin";
@import "var";
//Main
*{
    font-style: sans-serif;
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
body{
    max-width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px
}
//Navigation top
.navbar{
    margin: 45px auto;
    display: flex;
    justify-content:center;
    gap: 68px;
	list-style: none;
    &_item{
        &_link{
            font-family: Roboto;
            font-size: 11px;
            font-weight: 400;
            line-height: 22px;
            text-decoration: none;
            color: #4E4E4E;
            transition-duration: 0.5s;
        }
        &_link:hover{
            cursor: pointer;
            color: #57A4A4;
        }
    }
}
//Images
.header_img{
    max-width: 1170px;
    margin: 0 auto;
}
.post_img{
    width: 160px;
    height: 140px;
}
//Main section

//Recent posts
.main_title{
    margin-top: 70px;
    margin-bottom: 25px;
    .post_title{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #4E4E4E;               
    }
}
.our_posts_wrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}
.post{
    flex: 50%;
    display: flex;
    &_text_container{
        padding-left: 20px;
        .post_title{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            color: #4E4E4E;
        }
        .post_subtitle{
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            color: #7c7c7c;
        }
        .post_text{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            color: #5c5c5c;            
        }
    }
}
//Instagram Shots
.instagram_bg_holder{
    background: rgba(0, 0, 0, 0.03);
}
.instagram_posts_wrapper{
    display: flex;
    flex-direction: column;
    .instagram_title_wrapper{
        margin-top: 50px;
        margin-bottom: 25px;
        display: flex;
        gap: 65%;
        p{
            color: #4E4E4E;
        }
        .instagram_title{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }
        .instagram_subtitle{
            font-family: Roboto;
            font-size: 13px;
            font-weight: 700;
            line-height: 22px;
        }
    }
    .instagram_image_wrapper{
        display: flex;
        gap: 10px;
        margin-bottom: 60px;
    }
    .instagram_post{
        &_img{
            width: 285px;
            height: 285px;
        }
    }
}
//Footer
footer{
    background: black;
}
.footer_content_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    .footer_title{
        margin-top: 60px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: white;
    }
    .footer_subtitle{
        max-width: 685px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #B9B9B9;
    }
    .social_icons_wrapper{
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        gap: 7px;
        .social_icon{
            border: 2px solid white;
            border-radius: 40px;
            &_1{
                padding: 13px 14px;
                border-color: #F8902E;
            }
            &_2{
                padding: 12px 17px;
                border-color: #39599F;
            }
            &_3{
                padding: 12px 14px;
                border-color: #45B0E3;
            }
            &_4{
                padding: 12px 12px;
                border-color: #D97AB0;
            }
            &_5{
                padding: 12px 14px;
                border-color: #CC212C;
            }
        }
    }
    .footer_bottom_text{
        margin-bottom: 60px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #B9B9B9;
    }
}
//Adaptive
@media (max-width: 1200px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 320px) {
    
}